#main-bg {
  height: calc(100vh - 40px);
  width: 98%;
  background-image: url(/src/img/Port_2_Background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px 40px 0px 20px;
}

#main-mid-bg {
  width: 98%;
  margin: 0 40px 0px 20px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: linear-gradient(0deg, #dcdedc, #343434);
}

#main-mid-bg .container {
  margin-top: -80vh;
}

.bord {
  z-index: 3000;
  background-color: #fefefe;
  position: fixed;
  border: none;
}

.b-top {
  width: 100%;
  height: 20px;
  top: 0;
}

.b-bottom {
  width: 100%;
  height: 20px;
  bottom: 0;
}

.b-right {
  width: 20px;
  height: 100vh;
  right: 0;
}

.b-left {
  width: 20px;
  height: 100vh;
  left: 0;
}

.midTopNav {
  border-bottom: solid 1px rgba(200, 200, 200, 0.3);
  height: 100px;
}

.midTopNav .navbar-nav {
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.menuDiv {
  position: fixed;
  right: -300px;
  height: calc( 100vh - 40px);
  width: 300px;
  background-color: #232323;
  padding: 0px;
  margin-right: 20px;
  margin-top: 0px;
  border-bottom: 5px solid #3399FF;
  border-top: 5px solid #3399FF;
  z-index: 2000;
}

.menuFlex {
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
}

.menuFlex .menu-mid {
  padding: 0 20px;
  height: 300px;
  width: 100%;
}

.menuFlex .menu-social {
  position: fixed;
  border-top: solid 1px rgba(200, 200, 200, 0.3);
  bottom: 20px;
  margin-bottom: 0;
  height: 100px;
  width: 100%;
}

.sh-nav-mobile {
  list-style-type: none;
  padding-inline-start: 0px;
}

.sh-nav-mobile li {
  padding: 10px 0;
  border-bottom: solid 1px rgba(200, 200, 200, 0.3);
}

.sh-nav-mobile li:nth-last-child(1) {
  border-bottom: none;
}

.menu-item a {
  color: white;
}

.menu-item a:hover {
  color: gray;
  text-decoration: none;
}

.btnPortfolio {
  bottom: 0;
  color: white;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.gallery .pics {
  overflow: hidden;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}

.c-hamburger {
  color: white;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 20px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background .3s;
  top: 10px;
}

.navbar-toggler {
  background: none;
}

/* hamburger classes and animation */
.navbar-toggler {
  display: block !important;
  cursor: pointer;
  position: relative;
  width: 2.5rem;
  height: 2rem;
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1rem;
  border-radius: .25rem;
}

.navbar-toggler span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #55595c;
  border-radius: 3px;
  opacity: 1;
  left: 25%;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.navbar-toggler span:nth-child(1) {
  top: 34.5%;
}

.navbar-toggler span:nth-child(2), .navbar-toggler span:nth-child(3) {
  top: 50%;
}

.navbar-toggler span:nth-child(4) {
  top: 65.5%;
}

.navbar-toggler.openmenu span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-toggler.openmenu span:nth-child(2) {
  transform: rotate(45deg);
}

.navbar-toggler.openmenu span:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar-toggler.openmenu span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.footerDiv {
  width: 98%;
  margin: 0 20px 20px 20px;
}
